@tailwind base;
@tailwind components;
@tailwind utilities;



.add-to-cart-btn {
  transition: background-color 0.3s ease;
}

.add-to-cart-btn.bg-green-500 {
  background-color: #48bb78; 
}

.add-to-cart-btn.bg-blue-500 {
  background-color: #3182ce; 
}

.add-to-cart-btn.cursor-wait {
  cursor: wait;
}

.product-image {
  width: 100%;   
  height: auto;  
  object-fit: contain;  
}
